body {
  font-size: 20px;
  color: black;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

.error {
  color: red;
  font-weight: bold;

}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.wbtn{
	margin:20px;
  font-size:20px;
}

div.content{margin:20px;}

button.btn {
  background-color: : green;
}
